<div class="contents row">
  <a href="/">一覧にもどる</a>
  <%= form_for(@article, url: "/#{@article.id}", method: :patch) do |f| %>
    <h3>
      投稿する
    </h3>
    <%= f.text_field :title, class: 'form-control' %><br>
    <%= f.text_field :image, class: 'form-control' %><br>
    <%= f.text_area :content, class: 'form-control' %><br>
    <%= f.hidden_field :user_id, :value => @user_id %>
    <%= f.submit "投稿" %>
  <% end %>
</div>